.customers {
    margin: 0px 15px;
    padding: 15px;
    border-radius: 16px;
    background: #F9FAFC;
}

.customers h2 {
    font-weight: 700;
    font-size: 24px;
    color: #141D21 !important;
}

.customers h3 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    opacity: 0;
}

.customers tr {
    border: none !important;
    padding: 10px 0px;
    margin: 0;
}

.tabble i {
    font-size: 24px;
}

.tabble img {
    width: 51px !important;
    height: 51px !important;
    border-radius: 51px;
}

.custData h2, .tabble td h2 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #141D21;
}

.custData p {
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.47);
    font-weight: 500;
}

.icon {
    background-color: #D3FBD7;
    padding: 8px 10px;
    border-radius: 50%;
}